
* {
    box-sizing: border-box;
}

body {
    padding: 100px;
    background: #ffffff;
}

.header {
    background: #a0a0a0;
}
.header h1{
    padding: 50px;
}
    .header a {
    color: black;
    text-decoration: none;
}

.nav {
    overflow: hidden;
    background-color: #404040;
}
.nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

.leftselection {
    float: left;
    width: 75%;
    background-color: white;
}
.rightselection {
    float: left;
    width: 25%;
    background-color: white;
    padding-left: 20px;
}
.block {
    background-color: #a0a0a0;
    color: black;
    padding: 20px;
    margin-top: 20px;
}